.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 80px;
  width: 390px;
  height: 71px;
  z-index: 1000;
  border-radius: 30px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer-icon {
  font-size: 24px;
}

.footer-text {
  font-family: "SF Pro Rounded", sans-serif;
  font-weight: 500;
}
